@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #000000;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 90px;
    padding-bottom: 50px;
    color: #fff;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    font-size: 7em;
    margin-bottom: 25px;
    color:#f5f5f5;
    font-family: 'CR A Std', monospace;
    font-style: italic;
}
.sub-titlecringe{
  font-size: 2em;
  margin-bottom: 0px;
  color:#ffffff;
  font-family: "Courier New", monospace;
  font-style: italic;
}
.sub-titlecog{
    font-size: 5em;
    margin-bottom: 1px;
    color:#ffffff;
    font-family: "Courier New", monospace;
  }
.sub-titlepog{
    font-size: 5em;
    margin-bottom: 0px;
    color:#ffffff;
    font-family: "Courier New", monospace;
    font-style: italic;
    height: 80px;
}


.content{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image{
    position: relative;
    width: 300px;
    height: 465px;
    overflow: hidden;
}

.content .image img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content .text-box{
    z-index: 222;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

.content .text-box h3{
    font-size: 2em;
    margin-bottom: 10px;
}

.content .text-box h4{
    font-size: 1em;
    margin-top: 10px;
    position: relative;
    left: 23%;
}
.eita{
    font-size: 2em;
    margin-bottom: 0px;
    color:#ffffff;
    font-family: "Courier New", monospace;
    font-style: italic;
    padding: 5px;
}

.Titulo{
    font-size: 2em;
    margin-bottom: 0px;
    color:#ffffff;
    font-family: "Courier New", monospace;
    font-style: italic;
    padding: 5px;
<<<<<<< HEAD
=======
}

.container .contentkkk{
    padding: 10px;
    
    border-radius: 10px;
}

.contentkkk .text-box p{
    padding-left: 5px;
}

.contentkkk .image{
    position: relative;
    width: 800px ;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid white;
}

.contentkkk .image2{
    position: relative;
    width: 800px ;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.content .redação{
    padding-bottom: 2px;
}

.content .redação img{
    width: 550px;
    height: 767px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

 #ultimo{
    padding-top: 50px;
}

.contentkkk .text-box h3{
    font-size: 20px;
}

#busanfa{
    font-size: 30px;
}

.contentkkk .text-box{
    padding: 0;
    padding-left: 10px;
>>>>>>> 32d1ea4a98f6711694d16cdff25baf3b76dc9548
}

.container .contentkkk{
    padding: 10px;
    
    border-radius: 10px;
}

.contentkkk .text-box p{
    padding-left: 5px;
}

.contentkkk .image{
    position: relative;
    width: 800px ;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid white;
}

.contentkkk .image2{
    position: relative;
    width: 800px ;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.content .redação{
    padding-bottom: 2px;
}

.content .redação img{
    width: 550px;
    height: 767px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

 #ultimo{
    padding-top: 50px;
}

.contentkkk .text-box h3{
    font-size: 20px;
}

#busanfa{
    font-size: 30px;
}

.contentkkk .text-box{
    padding: 0;
    padding-left: 10px;
}